<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Management</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Cookie Management</h1>

        <!-- 获取 Cookie -->
        <section>
            <div class="section-header">
                <h2>Get Cookie</h2>
                <button onclick="getCookie()" class="section-button">Get Cookie</button>
            </div>
            <form id="getCookieForm" onsubmit="event.preventDefault(); getCookie();">
                <label for="getCookieFormDomainInput">Domain:</label>
                <input type="text" id="getCookieFormDomainInput" name="domain" required>
            </form>
            <div id="cookieResult"></div>
        </section>

        <!-- 删除全部 Cookie -->
        <section>
            <div class="section-header">
                <h2>Delete All Cookies</h2>
                <button onclick="delAllCookies()" class="section-button">Delete All Cookies</button>
            </div>
            <div id="delAllResult"></div>
        </section>

        <!-- 获取 Cookie 列表 -->
        <section>
            <div class="section-header">
                <h2>Get Cookie List</h2>
                <button onclick="getCookieList()" class="section-button">Get Cookie List</button>
            </div>
            <div id="cookieListResult"></div>
        </section>

        <!-- 获取域名列表 -->
        <section>
            <div class="section-header">
                <h2>Get Domain List</h2>
                <button onclick="getDomainList()" class="section-button">Get Domain List</button>
            </div>
            <div id="domainListResult"></div>
        </section>

        <!-- 插入或更新 Cookie -->
        <section>
            <div class="section-header">
                <h2>Insert or Update Cookie</h2>
                <button onclick="insertCookie()" class="section-button">Insert Cookie</button>
            </div>
            <form id="insertCookieForm" onsubmit="event.preventDefault(); insertCookie();">
                <label for="projectIdInput">Project ID:</label>
                <input type="text" id="projectIdInput" name="projectId" required>
                <label for="projectNameInput">Project Name:</label>
                <input type="text" id="projectNameInput" name="projectName" required>
                <label for="domainInput">Domain:</label>
                <input type="text" id="domainInput" name="domain" required>
                <label for="cookieStrInput">Cookie String:</label>
                <input type="text" id="cookieStrInput" name="cookieStr" required>
            </form>
            <div id="insertResult"></div>
        </section>

        <!-- 删除 Cookie -->
        <section>
            <div class="section-header">
                <h2>Delete Cookie</h2>
                <button onclick="delCookie()" class="section-button">Delete Cookie</button>
            </div>
            <form id="delCookieForm" onsubmit="event.preventDefault(); delCookie();">
                <label for="delProjectIdInput">Project ID:</label>
                <input type="text" id="delProjectIdInput" name="projectId" required>
                <label for="delDomainInput">Domain:</label>
                <input type="text" id="delDomainInput" name="domain" required>
            </form>
            <div id="delResult"></div>
        </section>

        <!-- 获取用户列表 -->
        <section>
            <div class="section-header">
                <h2>Get User List</h2>
                <button onclick="getUserList()" class="section-button">Get User List</button>
            </div>
            <div id="getUserList"></div>
        </section>

        <!-- 获取角色列表 -->
        <section>
            <div class="section-header">
                <h2>Get Role List</h2>
                <button onclick="getRoleList()" class="section-button">Get Role List</button>
            </div>
            <div id="getRoleList"></div>
        </section>

        <!-- 插入或更新用户 -->
        <section>
            <div class="section-header">
                <h2>Insert Or Update User</h2>
                <button onclick="insertOrUpdateUser()" class="section-button">Insert Or Update User</button>
            </div>
            <form id="insertOrUpdateUser" onsubmit="event.preventDefault(); insertOrUpdateUser();">
                <label for="insertOrUpdateUserName">User Name:</label>
                <input type="text" id="insertOrUpdateUserName" name="insertOrUpdateUserName" required>
                <label for="insertOrUpdateUserPwd">User Pwd:</label>
                <input type="password" id="insertOrUpdateUserPwd" name="insertOrUpdateUserPwd" required>
                <label for="insertOrUpdateUserIsUse">Is Use:</label>
                <input type="text" id="insertOrUpdateUserIsUse" name="insertOrUpdateUserIsUse" required>
                <label for="insertOrUpdateUserRoleId">Role ID:</label>
                <input type="text" id="insertOrUpdateUserRoleId" name="insertOrUpdateUserRoleId" required>
            </form>
            <div id="insertOrUpdateUserHtml"></div>
        </section>

        <!-- 删除用户 -->
        <section>
            <div class="section-header">
                <h2>Delete User</h2>
                <button onclick="deleteUser()" class="section-button">Delete User</button>
            </div>
            <form id="deleteUser" onsubmit="event.preventDefault(); deleteUser();">
                <label for="deleteUserId">User ID:</label>
                <input type="text" id="deleteUserId" name="deleteUserId" required>
                <label for="deleteUserName">User Name:</label>
                <input type="text" id="deleteUserName" name="deleteUserName" required>
            </form>
            <div id="deleteUserHtml"></div>
        </section>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>